<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>404 - Not found</title>
</head>
<body>
    <div class="container">
        <div id="board" style="width: 400px; grid-template-columns: 1fr 1fr 1fr; margin: 10em auto;">
            <div class="light" data-number="4"></div>
            <div class="dark" data-number="0"></div>
            <div class="light" data-number="4">
                <div class="extra">💣</div>
            </div>
        </div>
    </div>
</body>
</html>