<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Funboard - Game</title>
</head>
<body>
    <div id="players" class="float-left"></div>

    <div class="container">
        <div id="board">
            <div class="light" data-number="25"></div>
            <div class="dark" data-number="26"></div>
            <div class="light" data-number="27"></div>
            <div class="dark" data-number="28"></div>
            <div class="light" data-number="29"></div>
            <div class="finish" data-number="30">
                <div class="icon">🏁</div>
            </div>
            <div class="dark" data-number="24"></div>
            <div class="light" data-number="23"></div>
            <div class="dark" data-number="22"></div>
            <div class="light" data-number="21"></div>
            <div class="dark" data-number="20"></div>
            <div class="light" data-number="19"></div>
            <div class="light" data-number="13"></div>
            <div class="dark" data-number="14"></div>
            <div class="light" data-number="15"></div>
            <div class="dark" data-number="16"></div>
            <div class="light" data-number="17"></div>
            <div class="dark" data-number="18"></div>
            <div class="dark" data-number="12"></div>
            <div class="light" data-number="11"></div>
            <div class="dark" data-number="10"></div>
            <div class="light" data-number="9"></div>
            <div class="dark" data-number="8"></div>
            <div class="light" data-number="7"></div>
            <div class="light" data-number="1"></div>
            <div class="dark" data-number="2"></div>
            <div class="light" data-number="3"></div>
            <div class="dark" data-number="4"></div>
            <div class="light" data-number="5"></div>
            <div class="dark" data-number="6"></div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/game.js"></script>
</body>
</html>