<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Funboard - Game</title>
</head>
<body>
    <div class="container">
        <div id="board">
            <div class="light">
                <div class="tile__number">25</div>
            </div>
            <div class="dark">
                <div class="tile__number">26</div>
            </div>
            <div class="light">
                <div class="tile__number">27</div>
            </div>
            <div class="dark">
                <div class="tile__number">28</div>
                <div class="extra">🪨</div>
            </div>
            <div class="light">
                <div class="tile__number">29</div>
            </div>
            <div class="finish">
                <div class="tile__number">30</div>
                <div class="icon">🏁</div>
            </div>
            <div class="dark">
                <div class="tile__number">24</div>
            </div>
            <div class="light">
                <div class="tile__number">23</div>
                <div class="extra">🚪</div>
            </div>
            <div class="dark">
                <div class="tile__number">22</div>
            </div>
            <div class="light">
                <div class="tile__number">21</div>
            </div>
            <div class="dark">
                <div class="tile__number">20</div>
                <div class="extra">💣</div>
            </div>
            <div class="light">
                <div class="tile__number">19</div>
            </div>
            <div class="light">
                <div class="tile__number">13</div>
                <div class="extra">🚪</div>
            </div>
            <div class="dark">
                <div class="tile__number">14</div>
            </div>
            <div class="light">
                <div class="tile__number">15</div>
                <div class="extra">💣</div>
            </div>
            <div class="dark">
                <div class="tile__number">16</div>
            </div>
            <div class="light">
                <div class="tile__number">17</div>
            </div>
            <div class="dark">
                <div class="tile__number">18</div>
            </div>
            <div class="dark">
                <div class="tile__number">12</div>
                <div class="extra">🪨</div>
            </div>
            <div class="light">
                <div class="tile__number">11</div>
            </div>
            <div class="dark">
                <div class="tile__number">10</div>
                <div class="player">🔵</div>
            </div>
            <div class="light">
                <div class="tile__number">9</div>
                <div class="extra">💣</div>
            </div>
            <div class="dark">
                <div class="tile__number">8</div>
            </div>
            <div class="light">
                <div class="tile__number">7</div>
            </div>
            <div class="light">
                <div class="tile__number">1</div>
                <div class="player">🔴</div>
            </div>
            <div class="dark">
                <div class="tile__number">2</div>
            </div>
            <div class="light">
                <div class="tile__number">3</div>
            </div>
            <div class="dark">
                <div class="tile__number">4</div>
                <div class="extra">🎲</div>
            </div>
            <div class="light">
                <div class="tile__number">5</div>
            </div>
            <div class="dark">
                <div class="tile__number">6</div>
            </div>
        </div>
    </div>
</body>
</html>