<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Funboard - Home</title>
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="float-left">
                <a href="/" class="logo">
                    <h1>Funboard</h1>
                </a>
            </div>

            <div class="float-right">
                <div class="login-form">
                    <input class="login-form__username" type="text" placeholder="Username">
                    <input class="login-form__password" type="password" placeholder="Password">
                    <button class="login-form__submit">Login/Register</button>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="w-50 float-left">
            <h2>Live games</h2>
            <ul>
                <li>
                    <a href="#">HFUEDM by laragon (3 players)</a>
                </li>
                <li>
                    <a href="#">NCOQZS by mahjong (1 players)</a>
                </li>
                <li>
                    <a href="#">AAOIRE by john788 (4 players)</a>
                </li>
                <li>
                    <a href="#">BTKCCZ by farhad (1 players)</a>
                </li>
                <li>
                    <a href="#">NGPDJO by jimmy (1 players)</a>
                </li>
            </ul>
        </div>

        <div class="w-50 float-right">
            <h2>Start a new game</h2>
            <select id="">
                <option value="private">Public</option>
                <option value="private">Private</option>
            </select>

            <button>Start</button>
        </div>
    </div>
</body>
</html>